.header{
    padding: 1.5rem 0;
}
.navbar-brand{
    >img{
        display: block;
        height: 4.5rem;
    }
}
.custom-navbar{
    >li{
        padding: 0 2.8rem;
        &:last-child{
            padding-right: 0;
        }
        &.active{
            >a{
                color: #65bd69;
                &:after{
                   opacity: 1;
                   transform: translateY(3px);  
                }
            }
        }
        &.search{
            >a{
                &:after{
                    display: none;
                }
            }
        }
        >a{
            text-transform: capitalize;
            font-size: 1.4rem;
            line-height: 2rem;
            display: block;
            padding: 0.4rem 0;
            position: relative;
            font-weight: 700;
            text-decoration: none !important;
            color: #555;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            &:hover, &.active{
                color: #000;
                &:after{
                    opacity: 1;
                    transform: translateY(3px); 
                }
            }
            &:after{
                content: "";
                position: absolute;
                display: block;
                height: 0.2rem;
                background-color: #65bd69;
                bottom: 0.4rem;
                left: 0;
                right: 0;
                opacity: 0;
                z-index: 5;
                transform: translateY(0);
                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                -webkit-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                -moz-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            }
        }
    }
    .svg16{
        width: 1.6rem;
        height: 1.6rem;
        margin: -0.3rem 0.5rem 0 0;
        color: #65bd69;
        stroke-width:3px;
    }
}

