$bg: rgba(85, 188, 117, 0.05);

.subpage-banner{
    background: url('../images/subpage-bg.jpg')no-repeat center center;
	background-size: cover;
	height: 18rem;
    .table-container{
        background-color: rgba(0,0,0,0.5);
    }
}
.subpage-head{
	color: #fff;
	text-align: center;
	>h3{
		margin: 0;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1rem;
		line-height: 4.5rem;
		font-size: 3rem;
	}
	.breadcrumb{
		margin-bottom: 0;
		font-size: 12px;
		line-height: 18px;
		>li{
			color: #ccc;
			text-transform: uppercase;
			letter-spacing: 0.2px;
			>a{
				color: #ccc;
			}
		}
	}
}
.subpage-wrapper{
	padding: 70px 0;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
    iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
.contact-info{
    text-align: center;
    margin-top: 3rem;
    >.contact-row{
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.contact-row{
    margin-bottom: 5rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    font-weight: 500;
}
.contact-icon{
    margin: 0 auto 1.5rem;
    color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 2.5rem;
    background: $main-color;    
    >svg{
        width: 1.8rem;
        height: 1.8rem;
        display: block;
    }
}
.section-head{
    margin-bottom: 3.5rem;
    >h2{
        font-size: 2.5rem;
        line-height: 4rem;
        font-weight: 600;
        margin: 0 0 0.5rem;
    }
}
.enquiry-wrapper{
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    .form-group{
        margin-bottom: 3.5rem;
    }
}
.submit-button{
    .btn{
        min-width: 15rem;
        padding: 1.5rem 2rem;
    }
}
.product-column{
    margin-bottom: 4rem;
    text-align: center;
    >a{
        color: #333;
        text-decoration: none !important;
        @include all-transition();
        &:hover{
            color: $main-color;
            .product-image{
                /*border-color: $main-color;*/
                box-shadow: 0 0 0.1rem rgba(0,0,0,0.1);
                border-radius: 0.2rem;
                z-index: 0.5;
            }
            .view-more-link{
                opacity: 1;
                visibility: visible;
            }
            .product-title{
                >img{
                    opacity: 1;
                }
            }
        }
    }
}
.product-image{
    border: 0.1rem solid #eaeaea;
    margin-bottom: 2rem;
    position: relative;
}
.view-more-link{
    position: absolute;
    display: block;
    width: 3.8rem;
    height: 3.6rem;
    padding: 1.1rem;
    top: 50%;
    left: 50%;
    margin: -2rem 0 0 -2rem;
    background-color: $main-color;
    border-radius: 0.8rem;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.6);
    @include all-transition();
    >img{
        display: block;
        max-width: 100%;
    }
}
.product-title{
    text-align: center;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 700;
}
.view-more-icon{
    background: url('../images/right-arrow.svg')no-repeat center center;
    display: inline;
    width: 2rem;
    height: 2rem;
}
.pro-image{
    @extend .product-image;
    .img-fluid{
        width: 100%;
    }
}
.pro-detail{
    padding-left: 2rem;
    line-height: 2.4rem;
    >h4{
        font-weight: 700;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #131b10;
    }
    p{
        margin-bottom: 2rem;
    }
    ul{
        padding-left: 1.8rem;
        margin-bottom: 2rem;
        >li{
            padding: 0.2rem 0;
        }
    }
}
.related-products{
    text-align: center;
    padding: 5rem 0 0;
    >h3{
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3.6rem;
        margin-bottom: 1.5rem;
    }
    .line50{
        margin: 0 auto 3.5rem;
    }
}
.pro-prev-next-wrapper{
    background-color: $bg;
    padding: 4rem;
}
.mb30{
    margin-bottom: 3rem;
}
.product-nav{
    color: #333;
    font-weight: 600;
    line-height: 2.4rem;
    text-decoration: none !important;
    @include all-transition();
    &:hover{
        color: $main-color;
    }
    >svg{
        padding: 0.3rem;
        display: inline-block;
        vertical-align: middle;
        border: 0.1rem solid #ccc;
        border-radius: 2rem;
        margin: -0.2rem 0.5rem 0;
        stroke-width:0.3rem;
    }
}
.service-col{
    text-align: center;
    padding: 0 5rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
    >img{
        margin-bottom: 2rem;
        width: 6.5rem;
    }
    h4{
        font-size: 1.8rem;
        line-height: 3rem;
        margin: 0 0 1rem;
        font-weight: 600;
    }
}
.about-page{
    text-align: center;
    .line50{
        margin-bottom: 3.5rem;    
    }
}
.about-title{
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.5rem;
}
.about-content{
    text-align: center;
    max-width: 90rem;
    margin: 0 auto 5rem;
    line-height: 2.5rem;
    p{
        margin-bottom: 2.5rem;
    }
}
.p50{
    padding: 5rem 0;
}
.product-section{
    background-color: $bg;
    .product-column{
        margin-bottom: 6rem;
    }
}
.section-head{
    text-align: center;
    margin-bottom: 4rem;
}
.text-center{
    text-align: center;
}
.customer-list{
    list-style: none;
    margin: 0;
    font-size: 0;
    text-align: center;
    >li{
        display: inline-block;
        vertical-align: middle;
        width: 22%;
        margin: 1rem;
        border: 0.1rem solid #ddd;
        >img{
            height: 9rem;
            padding: 1.2rem;
            max-width: 100%;
        }
    }
}

[class*="btn-outline"]{
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(21, 30, 70, 0.12); 
}

.btn-outline-secondary {
  color: #223464;
  border-color: rgba(34, 52, 100, 0.3); 
    &:hover,&:focus,&:active{
        border-color: #6c757d !important;
        background-color: transparent !important;
        color: #223464 !important;
    }
}
.product-section{
    padding-bottom: 30rem;
}
.home-contact-form{
    position: relative;
    border: 0.1rem solid #e9ebf8;
    border-radius: 0.3rem;
    box-shadow: 0 0.8rem 1.2rem 0 rgba(14, 36, 129, 0.08);
    background-color: #fff;
    text-align: center;
    padding: 3rem 5rem 5rem;
    max-width: 70rem;
    margin: -25rem auto 0;
    .form-group{
        margin-bottom: 2rem;
    }
}
.contact-section{
    padding-bottom: 10rem;
}
.gallery-section {
  padding: 0 0 8rem; }

.gallery-list {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 5rem; }
  .gallery-list > div {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

.gallery-item {
  box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
  margin-bottom: 1rem; }
  .gallery-item > img {
    border-radius: 0.4rem; }